{% extends "base.html" %}

{% block title %}Dashboard{% endblock  %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock navbar%}

{% block contents %}
<div class="container">
    <header>
        <h1>Dashboard Admin</h1>
    </header>
    <main>
        <section class="dashboard">
            <div class="card">
                <h2>Jumlah User</h2>
                <p class="number">{{ jumlah_pengguna }}</p>
            </div>
            <div class="card">
                <h2>Jumlah Surat Keterangan</h2>
                <p class="number">{{ jumlah_keterangan }}</p>
            </div>
            <div class="card">
                <h2>Jumlah Surat Masuk</h2>
                <p class="number">{{ jumlah_masuk }}</p>
            </div>
            <div class="card">
                <h2>Jumlah Surat Keluar</h2>
                <p class="number">{{ jumlah_keluar}}</p>
            </div>
            <div class="card">
                <h2>Jumlah Asset</h2>
                <p class="number">{{ jumlah_aset }}</p>
            </div>
        </section>
    </main>
</div>
{% endblock %}