{% extends "base.html" %}

{% block title %} File Manager {% endblock%}

{% block navbar %} {% include "components/navbar.html" %} {% endblock%}

{% block contents%}

<span>Upload file: <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Upload</button></span>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Upload file</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <strong>Surat keterangan</strong>
  <table>
      <thead>
          <tr>
            <th>File</th>
            <th>Extension</th>
            <th>Uploaded Date</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            {% for document in documents%}
            {% if document.category == "keterangan" %}
            <tr>
              <td>{{ document.file.name }}</td>
              <td>{{ document.get_file_extension }}</td>
              <td>{{ document.uploaded_at}}</td>
              <td><a href="{% url 'del' document.id%}">Delete</a>, <a download href="{{document.file.url}}" target="_blank">Download</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tr>
      </tbody>
  </table>
</div>
<div class="table-container">
  <strong>Surat masuk</strong>
  <table>
      <thead>
          <tr>
            <th>File</th>
            <th>Extension</th>
            <th>Uploaded Date</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            {% for document in documents%}
            {% if document.category == "masuk" %}
            <tr>
              <td>{{ document.file.name }}</td>
              <td>{{ document.get_file_extension }}</td>
              <td>{{ document.uploaded_at}}</td>
              <td><a href="{% url 'del' document.id%}">Delete</a>, <a download href="{{document.file.url}}" target="_blank">Download</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tr>
      </tbody>
  </table>
</div>
<div class="table-container">
  <strong>Surat keluar</strong>
  <table>
      <thead>
          <tr>
            <th>File</th>
            <th>Extension</th>
            <th>Uploaded Date</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            {% for document in documents%}
            {% if document.category == "keluar" %}
            <tr>
              <td>{{ document.file.name }}</td>
              <td>{{ document.get_file_extension }}</td>
              <td>{{ document.uploaded_at}}</td>
              <td><a href="{% url 'del' document.id%}">Delete</a>, <a download href="{{document.file.url}}" target="_blank">Download</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tr>
      </tbody>
  </table>
</div>
<div class="table-container">
  <strong>Surat asset</strong>
  <table>
      <thead>
          <tr>
            <th>File</th>
            <th>Extension</th>
            <th>Uploaded Date</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            {% for document in documents%}
            {% if document.category == "asset" %}
            <tr>
              <td>{{ document.file.name }}</td>
              <td>{{ document.get_file_extension }}</td>
              <td>{{ document.uploaded_at}}</td>
              <td><a href="{% url 'del' document.id%}">Delete</a>, <a download href="{{document.file.url}}" target="_blank">Download</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tr>
      </tbody>
  </table>
</div>
{% endblock%}