{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block login_page %}
<form method="POST" id="login" action="{% url 'signin' %}">
  {% csrf_token %}

  
  <div class="border">
    <div class="isi">
      <h3 class="login">Login</h3>
      <div>
        <p class="name1">Username : </p>
        {{ form.username }}
      </div>
      <div>
        <p class="name2">Password : </p>
        {{ form.password }}
      </div>
   
      <button class="tombol" type="submit" class="btn-primary">Login</button>
 
    </div>
  </div>
</form>

{% endblock %}