{% load static %}
<nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="{% static 'img/logo.png' %}" alt="logo" class="image" />
      </span>

      <div class="text header-text">
        <span class="name">ARSIP</span>
        <span class="profession">Welcome <strong>{{ user.get_username }}</strong></span>
      </div>
    </div>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="{% url 'dashboard'%}">
            <i class="bx bx-home-alt" id="logo"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <div class="file">
          <li class="nav-link">
            <a href="">
              <i class="bx bx-folder" id="logo"></i>
              <span class="text nav-text">File manager</span>
              <i class="bx bx-chevron-down" id="logo1"></i>
            </a>
          </li>
          <ul class="dropdown__menu">
            <li class="sub">
              <a href="{% url 'keterangan'%}" class="dropdown__link"
                ><i class="bx bx-file" id="logo"></i>Surat keterangan</a
              >
            </li>
            <li class="sub">
              <a href="{% url 'masuk'%}" class="dropdown__link"
                ><i class="bx bx-file" id="logo"></i>Surat masuk</a
              >
            </li>
            <li class="sub">
              <a href="{% url 'keluar'%}" class="dropdown__link"
                ><i class="bx bx-file" id="logo"></i>Surat keluar</a
              >
            </li>
            <li class="sub">
              <a href="{% url 'asset'%}" class="dropdown__link"
                ><i class="bx bx-file" id="logo"></i>Asset</a
              >
            </li>
          </ul>
        </div>
        <li class="nav-link">
          <a href="{% url 'accountmanager'%}">
            <i class="bx bxs-user" id="logo"></i>
            <span class="text nav-text">User Manager</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="{% url 'logout'%}">
            <i class="bx bx-log-out" id="logo"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
